html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: white;
}

h1 {
  position: relative;
  margin: 0;
  font-size: 1.2rem;
  background-color: pink;
}

svg {
  margin: 0;
  padding: 0;
  user-select: none;
}

a.button {
  margin: 0 25px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #aaeeff;
}

th,
td {
  border: solid 2px dodgerblue;
  padding: 5px 20px;
}

blockquote {
  padding: 10px;
  background-color: #ddffff;
  border: solid 4px #55dddd;
}

g {
  user-select: none;
}

g.button {
  cursor: pointer;
}
